nav ul {
    list-style: none;
    margin-inline: auto;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 45px;
    border-radius: 2px;
    width: auto;
    height: 20px;
    border: 1px solid white;
    padding: 0.3em 0.3em 0.3em 0.3em;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-family: sans-serif;
}

nav a:hover {
    color: #476076;
}
