

h1{

  font-size: 10vh;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: auto;
  font-family: sans-serif;
  color: white;
}

h2{
  font-family: sans-serif;
  text-shadow: 2px 2px;
  color: #44183f;
  font-size: 10vh;
  padding-left: 80px;
  text-decoration: none;
}

h3{
  font-family: sans-serif;
  color: white;
  font-size: 4vh;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

h4{
  font-size: 2.2vh;
  text-decoration: none;
  position: absolute;
  margin-left: 35px;
  margin-right: 100px;
  margin-top: 110px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  text-align-last: left;
}

h5{
  font-size: 16vh;
  font-family: sans-serif;
  color: #476076;
  margin-bottom: -12px;
  margin-top: -12px;
}

h6{
  font-size: 3vh;
  font-family: sans-serif;
  color: white;
  margin-bottom: -12px;
}


.container{
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 50vh 85vh 20vh;
  grid-template-areas: "head head"
                        "lhs blog"
                        "footer footer";

}

.container2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh;
}

.container3{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  background-color: #44183f;

}

.container4{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #476076;
  padding-top: 5px;
  padding-bottom: 30px;
  font-family: sans-serif;
  color: white;
  font-size: 3vh;
}

.containerc {
  display: block;
  width: 300px;
  height: 340px;
  background-color: #476076;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;
  -moz-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;
  box-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;

}


.details{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 230px;
}


.dill{
  display: block;
  position: absolute;
  z-index: 4;
  text-align: left;
  transform: rotate(5deg);
  top: 63%;
  left: 85%;

}


.dill2{
  display: block;
  transform: rotate(188deg);
  position: absolute;
  z-index: 4;
  top: 128%;
  left: -2%;

}
 .c{
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 #card {
  height: 200px;
  width: 200px;
  background-image: url('https://lh6.googleusercontent.com/WBNYSOBlb7KbZNyHoox7JapQMqiiVc4K_ql_n31kYx716c33lIwvpbpG1BH8IZym1V4XtIUDkYuZWP4SAnNZGuKFwvNAQoWM14Dq7NBD7a9eitiePSKX8HIG9tQeZ_C3oHPk7AK8WFklU9B1');
  border-radius: 50%;
  z-index: 10;
  margin-left: 50px;
  margin-top: 35px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  position:absolute;

}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#box{
  background-image: url('https://lh3.googleusercontent.com/BUCaySjHVnb6l6ObthgbQRbEogSNTXaav_sPi9pFrtnhags-gn7f6996hcWSxMbTMjJcSuEq2C5fgM4HYWP396D0t9EN7HwCJsA2DtFV79_jVSEohN2WoETGVhf9gREKgmUZ9CikD35RmuxS');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -30;
}

#box2{
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 16px 0px 200px 10px black;
  -moz-shadow: 16px 0px 200px 10px black;
  box-shadow: 16px 0px 200px 10px black;
}


#button2{
  outline: 2px solid white;
  width: 6vw;
  text-align: center;
  background-color: #44183f;
  font-family: sans-serif;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  z-index: 100;
  position: absolute;
  top: 25%;
  left: 86%;
}

#button3{
  outline: 2px solid white;
  width: 6vw;
  text-align: center;
  background-color: #44183f;
  font-family: sans-serif;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  z-index: 100;
  position: absolute;
  display: block;
  top: 32%;
  left: 86%;
}

#email{
  outline: 1px solid white;
  width: 150px;
  height: 25px;
  align-content: center;
  font-family: sans-serif;
}

.about{
  grid-area: lhs;
  background-image: url('https://lh6.googleusercontent.com/JA5NfODibdohL3LMJ6M34zQUTROBHl9RihrZtus-iIgmHHlv8Wodt4KHGPx7YUIYOCqOoKm1Wp3AwGcjQyvuSzgfSVIvN2xc-dPS2z2zOvW1t_0AUITM2R3YcJuWmtju8l8BmHlK1SWeXURZ');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -30;
}

.content{
  grid-area: blog;
  text-align: left;
  font-size: 2.3vh;
  font-family: sans-serif;
  color: white;
  padding: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;
  -moz-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;
  box-shadow: 0px 0px 200px -42px rgba(0,0,0,0.7) inset;
}

.header{
  background-image: url('https://lh5.googleusercontent.com/4OdDwqCc_X9zolahj0bQ_FfwTjYr8EdAnFiT3p9nxClCgDBfEsVh2JOOQMhxUT8lYqBFZNVBSD2c4ATJAK2kciTkZ4mMir9sSRpqSwEpf7d8H5fzQs5JKiuRIIwC7Jnq4G6UoXKK3EBvtNZA');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: head;
  padding: 100px 200px 0px 100px;
}

.footer{

  grid-area: footer;
}
